.character img {
  height: 25rem;
}

.character {
  display: flex;
  padding: 1rem;
}

.character-details p {
  margin: 0 1rem;
  text-transform: capitalize;
  font-size: 2rem;
  flex-grow: 2;
  background-color: white;
  padding: .1rem 0;
}