#search .title {
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

#search {
  padding: 2rem;
}

.search-input {
  min-width: 20rem;
  line-height: 2rem;
}

.profile-list {
  max-height: 50rem;
  overflow-y: scroll;
  padding-top: 1rem;
}